* text=auto

/.gitattributes text eol=lf
/.gitignore text eol=lf
*.css text eol=lf
*.dict text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.lock text eol=lf
*.md text eol=lf
*.py text eol=lf
*.rs text eol=lf
*.toml text eol=lf
*.tsv text eol=lf
*.txt text eol=lf

*.ico binary
*.png binary
